/#config.el#
/.org-id-locations
/auto-save-list
/bookmarks
/config.el
/elpa
/eshell
/ido.last
/org-persist
/org-roam.db
/quelpa
/to-be-dumped.el
/transient
/xkcd
/.cache
/lsp-session-v1
/.vscode
/eclipse.jdt.ls
/snippets
/workspace
/.lsp-session-v1